*.pxd       text eol=lf
*.py        text eol=lf
*.py3       text eol=lf
*.pyw       text eol=lf
*.pyx       text eol=lf
Dockerfile  text eol=lf
*.sh        text eol=lf

*.db     binary
*.p      binary
*.pkl    binary
*.pyc    binary
*.pyd    binary
*.pyo    binary
